

@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
.inverted[data-v-4a119d8c] {
  filter: invert(100%);
}
.spinner-border[data-v-4a119d8c] {
  display: inline-block;
  vertical-align: text-bottom;
  border: var(--border-thickness) solid;
  border-right: var(--border-thickness) solid transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border-4a119d8c .75s linear infinite;
  animation: spinner-border-4a119d8c .75s linear infinite;
  box-sizing: border-box;
  text-align: center!important;
  width: var(--size);
  height: var(--size);
}
@keyframes spinner-border-4a119d8c {
to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
html, body, #app {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
}
#map-iframe {
  width: 100%;
  height: 100%;
}
#app {
  display: grid;
  grid-template-columns: 333px 1fr;
}
.left {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider {
  display: flex;
  gap: 16px;
}
.slider span {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 7px;
  user-select: none;
  cursor: pointer;
}
.slider .selected {
  font-weight: bold;
  color: white;
  background: black;
}
/* get .slider span with not selecte class */
.slider span:not(.selected):hover {
  background: #f5f5f5;
}
.left h1 {
  text-align: center;
}
.left-body {
  width: 260px;
}
.input {
  display: flex;
  flex-direction: column;
}
.input input {
  width: 100%;
}
input[type=text] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 7px;
  margin-top: 6px;
  box-sizing: border-box;
}
.input-mode {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.output-mode {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-content: flex-start;
  width: 100%;
}
button {
  border: none;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}
button:hover {
  background: #333;
  cursor: pointer;
}
.lookup, .back {
  align-self: flex-end;
}
.lookup {
  position: relative;
}
.loading {
  position: absolute;
  right: 25px;
  top: 5px;
  align-self: flex-end;
}
.right {
  background: #e5e3df;
}
.disabled {
  pointer-events: none;
  opacity: 0.1;
}
.invisible {
  visibility: hidden;
}
